<div class="content">

<section class="about">
  <div class="container">
    <div class="row box">
      <h1 class="text-center">- About Us -</h1>
      <p  class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <br>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quis laborum dicta voluptatem commodi voluptatum sapiente nulla. Totam id, molestiae est doloribus quae eius necessitatibus animi ut velit! Molestias, debitis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, voluptatibus, adipisci? Magnam rerum ipsa maxime deleniti facilis obcaecati ex iste culpa. Provident nam, illum cupiditate. Quaerat quis sequi, ducimus quasi!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In architecto, quo assumenda quae autem odit eos quas distinctio eaque at, aspernatur repudiandae deserunt minima ex laudantium vitae est ratione eligendi!
      </p>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quis laborum dicta voluptatem commodi voluptatum sapiente nulla. Totam id, molestiae est doloribus quae eius necessitatibus animi ut velit! Molestias, debitis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, voluptatibus, adipisci? Magnam rerum ipsa maxime deleniti facilis obcaecati ex iste culpa. Provident nam, illum cupiditate. Quaerat quis sequi, ducimus quasi!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In architecto, quo assumenda quae autem odit eos quas distinctio eaque at, aspernatur repudiandae deserunt minima ex laudantium vitae est ratione eligendi!
      </p>
    </div>
  </div>
</section>
<section class="team">
  <div class="container">
    <div class="row box">
      <h1 class="text-center">Our Team</h1>
      <div class="col-md-4 items">
        <img  class="img-circle" src="src/assets/img/boy.jpg" alt="Team Designer" width="140" height="140">
        <h3 class="text-center">Designer</h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt voluptate id nulla voluptas cumque est facilis illum deserunt, <br> voluptatibus aspernatur corporis neque </p>
      </div>
      <div class="col-md-4 items">
        <img  class="img-circle" src="src/assets/img/boy-hat.jpeg" alt="Team Designer" width="140" height="140">
        <h3 class="text-center">Photographer</h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt voluptate id nulla voluptas cumque est facilis illum deserunt, <br> voluptatibus aspernatur corporis neque </p>
      </div>
      
      <div class="col-md-4 items">
        <img  class="img-circle" src="src/assets/img/twin.jpg" alt="Team Designer" width="140" height="140">
        <h3 class="text-center">Engineers</h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt voluptate id nulla voluptas cumque est facilis illum deserunt, <br> voluptatibus aspernatur corporis neque </p>
      </div>
      
    </div>
  </div>
</section>

</div>